@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans);

html { font-size: 62.5%; }
body {
	background-color: #f5f5f5;
	color: #333;
	font: 1.4rem 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, button[type=button] {
	font-family: 'Arvo', sans-serif;
}
h1 { font-size: 4.8rem; }
h2 { font-size: 3.6rem; }
h3 { font-size: 2.4rem; }
h4 { font-size: 1.8rem; }

button {
	background: rgb(255, 212, 0);
	border-radius: 3px;
	border: none;
	box-shadow: 0px -5px 0px rgba(0,0,0, 0.15) inset;
	cursor: pointer;
	font-size: 1.4rem;
	padding: 10px 8px 15px;
	width: 100%;
}

.section-header {
	margin-bottom: 20px;
}

.container {
	display: flex;
	padding: 30px;
	position: relative;
}

.sidebar {
	left: 30px;
	margin-right: 40px;
	width: 125px;
	position: fixed;
	top: 30px;
}

.blockaid-logo {
	background-blend-mode: multiply;
	background-color: #f3f3f3;
	background-image: url(../images/blockaid_logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 158px;
	margin-bottom: 30px;
	width: 125px;
}

.content {
	flex: 1;
	margin-left: 165px;
}

.blocked-list ul li {
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.15) inset;
	cursor: pointer; ∂ß
	font-size: 1.6rem;
	margin-bottom: 12px;
	padding-right: 40px;
	padding: 10px 10px 12px;
	position: relative;
	-webkit-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
}
.blocked-list ul li:hover {
	background-color: rgb(255, 129, 77);
	color: white;
}
.blocked-list ul li i {
	margin-top: -10px;
	font-size: 2rem;
	position: absolute;
	right: 15px;
	top: 50%;
}