@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
body, button, input, textarea {
  font-family: 'Permanent Marker', cursive;
}
.block {
	display: flex;
	order: 0;
	flex: 1 1 auto;
	align-self: auto;

	background-color: #CCC;
	color: #369;
  min-width: 300px;
	min-height: 300px;
	max-height: 400px;
	justify-content: space-around;
	align-items: center;
	
	/*margin: 30px;*/
  

  border: 3px solid transparent;
	border-image: url('/images/black_texture.jpg') 1 repeat;
}

.container {
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;	
	margin: 0px;
}

.root {
	min-height: 100vh;
}
.v {
  flex-flow: column nowrap;
}
.h {
  flex-flow: row nowrap;
}
