@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400,700);


html {
	background-color: rgb(245, 245, 245);
	font-size: 62.5%;
}
body, button, input, textarea {
	color: rgb(51, 51, 51);
	font: 1.4rem 'Fira Sans', sans-serif;
}
strong {
	font-weight: bold;
}
input, textarea {
	border: 1px solid rgb(200, 200, 200);
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
	padding: 5px 8px;
}
h1, h2, h3, h4, h5, h6, a.btn, .login-link-text, button {
	font-family: 'Arvo', sans-serif;
}
h1 { font-size: 4.8rem; }
h2 { font-size: 3.6rem; }
h3 { font-size: 2.4rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.4rem; }

a,
a:link,
a:visited {
	color: rgb(0, 127, 168);
	text-decoration: none;
	-webkit-transition: color 0.15s;
	-o-transition: color 0.15s;
	transition: color 0.15s;
}
a:hover {
	color: rgb(255, 129, 0);
}

.btn,
.login-link-text {
	background: rgb(255, 212, 77);
	border-radius: 3px;
	border: none;
	box-shadow: 0px -5px 0px rgba(0,0,0, 0.15) inset;
	color: rgb(51, 51, 51) !important;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	padding: 10px 10px 15px;
	text-align: center;
}
.btn-teal {
	background: rgb(0, 127, 168);
	color: white !important;
}
.btn-grey {
	background: rgb(140, 140, 140);
	color: white !important;
}
.btn-sm {
	padding: 4px 8px 9px;
}


.u-pullRight { float: right; }
.u-pullLeft { float: left; }
.u-marginTop20 { margin-top: 20px; }
.u-marginRight20 { margin-right: 20px; }
.u-marginBottom20 { margin-bottom: 20px; }
.u-marginLeft20 { margin-left: 20px; }

.u-clearFix:before,
.u-clearFix:after {
    content: " ";
    display: table;
}

.u-clearFix:after {
    clear: both;
}
.u-clearFix {
    *zoom: 1;
}


.container {
	display: flex;
	padding: 30px;
	position: relative;
	max-width: 800px;
}

.disabled {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
}

.sidebar {
	left: 30px;
	margin-right: 40px;
	width: 185px;
	position: fixed;
	top: 30px;
}
.sidebar .create-blocker-btn {
	margin-top: 10px;
}
.sidebar .create-blocker-btn,
.sidebar .login-link-text {
	width: 100%;
}
.sidebar .accounts-dialog {
	margin: 25px 0 15px;
	padding: 0 10px;
}
.sidebar .login-close-text {
	cursor: pointer;
	font-size: 12px;
	float: right;
	margin-top: -20px;
}
.sidebar .login-button {
	color: rgb(0, 127, 168);
	cursor: pointer;
  	margin-top: 10px;
}
.sidebar .login-button:hover {
	color: rgb(255, 129, 0);
}
.sidebar .login-button:before {
	color: #333;
	content: "\000BB";
}
.sidebar [id$="-label-and-input"] {
	margin-bottom: 5px;
}
.sidebar .additional-link,
.sidebar .login-form label {
	font-size: 1.2rem;
}

.blockaid-logo {
	background-blend-mode: multiply;
	background-color: rgb(245, 245, 245);
	background-image: url(../images/blockaid_logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 158px;
	margin: 0 auto 30px;
	width: 125px;
}

.content {
	flex: 1;
	margin-left: 225px;
}

.section {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid rgb(222, 222, 222);
}
.section:last-child {
	margin: 0;
	padding: 0;
	border: none;
}
.section-header {
	margin-bottom: 20px;
}
.section-header small {
    color: rgb(140, 140, 140);
    font-family: 'Fira Sans';
	font-size: 1.3rem;
}
.section-header-icon {
	color: rgb(255, 0, 0);
}

.blocked-list ul li {
	margin-bottom: 12px;
}
.blocked-list ul li a {
	background-color: rgb(255, 255, 255);
	border-radius: 2px;
	box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.15) inset;
	color: rgb(51, 51, 51);
	display: block;
	font-size: 1.6rem;
	padding-right: 40px;
	padding: 10px 10px 12px;
	position: relative;

	-webkit-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
}
.blocked-list ul li a:hover {
	background-color: rgb(255, 129, 0);
	color: rgb(255, 255, 255);
}
.blocked-list ul li a .plusOneCount {
	color: rgb(140, 140, 140);
	float: right;
	font-size: 1.4rem;
	padding: 3px 36px 0 0;

	-webkit-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
}
.blocked-list ul li a:hover .plusOneCount {
	color: rgb(255, 255, 255);
}
.blocked-list ul li i {
	margin-top: -10px;
	font-size: 2rem;
	position: absolute;
	right: 15px;
	top: 50%;
}

.discussion-item {
	margin-bottom: 15px;
}
.discussion-item-userName {
	padding-right: 15px;
}
.discussion-item-title small {
	color: rgb(140, 140, 140);
	font-size: 75%;
	font-weight: normal;
	text-transform: uppercase;
}

.blocker-title {
	margin-bottom: 20px;
	width: 100%;
}

.blocker-description {
	height: 120px;
	width: 100%;
}

.comment-text {
	width: 100%;
}

.bad-username-form fieldset {
	display: inline-block;
}
.section.badUsername p,
.section.badUsername form,
.section.badUsername h4 {
	margin-bottom: 15px;
}
#current-username { display: none; }
