@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400,700);

html {
	background-color: rgb(245, 245, 245);
	font-size: 62.5%;
}
body, button, input, textarea {
	color: rgb(51, 51, 51);
	font: 1.4rem 'Fira Sans', sans-serif;
}
strong {
	font-weight: bold;
}
input, textarea {
	border: 1px solid rgb(200, 200, 200);
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
	padding: 5px 8px;
}
h1, h2, h3, h4, h5, h6, a.btn, button {
	font-family: 'Arvo', sans-serif;
}
h1 { font-size: 4.8rem; }
h2 { font-size: 3.6rem; }
h3 { font-size: 2.4rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.4rem; }

a,
a:link,
a:visited {
	color: rgb(0, 127, 168);
	text-decoration: none;
	-webkit-transition: color 0.15s;
	-o-transition: color 0.15s;
	transition: color 0.15s;
}
a:hover {
	color: rgb(255, 129, 0);
}

.btn {
	background: rgb(255, 212, 77);
	border-radius: 3px;
	border: none;
	box-shadow: 0px -5px 0px rgba(0,0,0, 0.15) inset;
	color: rgb(51, 51, 51) !important;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	padding: 10px 10px 15px;
	text-align: center;
}
.btn-teal {
	background: rgb(0, 127, 168);
	color: white !important;
}
.btn-grey {
	background: rgb(150, 150, 150);
	color: white !important;
}


.u-pullRight { float: right; }
.u-pullLeft { float: left; }
.u-marginTop20 { margin-top: 20px; }
.u-marginRight20 { margin-right: 20px; }
.u-marginBottom20 { margin-bottom: 20px; }
.u-marginLeft20 { margin-left: 20px; }

.u-clearFix:before,
.u-clearFix:after {
    content: " ";
    display: table;
}

.u-clearFix:after {
    clear: both;
}
.u-clearFix {
    *zoom: 1;
}


.container {
	display: flex;
	padding: 30px;
	position: relative;
	max-width: 800px;
}

.sidebar {
	left: 30px;
	margin-right: 40px;
	width: 125px;
	position: fixed;
	top: 30px;
}
.sidebar .btn {
	width: 100%;
}

.blockaid-logo {
	background-blend-mode: multiply;
	background-color: rgb(245, 245, 245);
	background-image: url(../images/blockaid_logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 158px;
	margin-bottom: 30px;
	width: 125px;
}

.content {
	flex: 1;
	margin-left: 165px;
}

.section {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid rgb(222, 222, 222);
}
.section:last-child {
	margin: 0;
	padding: 0;
	border: none;
}
.section-header {
	margin-bottom: 20px;
}
.section-header-icon {
	color: rgb(255, 0, 0);
}

.blocked-list ul li {
	margin-bottom: 12px;
}
.blocked-list ul li a {
	background-color: rgb(255, 255, 255);
	border-radius: 2px;
	box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.15) inset;
	color: rgb(51, 51, 51);
	display: block;
	font-size: 1.6rem;
	padding-right: 40px;
	padding: 10px 10px 12px;
	position: relative;

	-webkit-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
}
.blocked-list ul li a:hover {
	background-color: rgb(255, 129, 0);
	color: white;
}
.blocked-list ul li i {
	margin-top: -10px;
	font-size: 2rem;
	position: absolute;
	right: 15px;
	top: 50%;
}

.discussion-item {
	margin-bottom: 15px;
}
.discussion-item-title small {
	color: rgb(170, 170, 170);
	font-size: 75%;
	font-weight: normal;
	padding-left: 15px;
	text-transform: uppercase;
}

.blocker-title {
	margin-bottom: 20px;
	width: 100%;
}

.blocker-description {
	height: 120px;
	width: 100%;
}

.comment-text {
	width: 100%;
}